@import "tailwindcss";

@source "../**/*.{html,js}";

/* @plugin "@tailwindcss/forms"; */

@media print {
  @page {
    size: A4 portrait;
    margin: 0;
  }
  body {
    margin: 0;
    padding: 0;
    background: white !important;
  }
  #appContainer {
    display: none !important;
  }
  #printContainer {
    display: block !important;
    width: 210mm;
    height: 296mm;
    padding: 0 !important;
    box-sizing: border-box;
    overflow: hidden;
    background: white;
  }
  .print\:hidden {
    display: none !important;
  }
}
